@page "/addfeedback"
@namespace GovBright.Web.Pages

@using GovBright.Components;

@if (FormSubmitedOK)
{
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Thanks for your feedback!
        </h1>
        <div class="govuk-panel__body">
            We really appreciate you input.
        </div>
    </div>
}
else
{
    <EditForm Model="FeedBack" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <Wizard Id="DemoWizard">
            <WizardStep Name="Name">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l">
                            What is your name?
                        </label>
                    </h1>
                    <InputText id="name" @bind-Value="FeedBack.Name" class="govuk-input" />
                    <ValidationMessage For="@(() => FeedBack.Name)" class="govuk-error-message" />
                </div>
            </WizardStep>
            <WizardStep Name="Email">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l">
                            What is your email address?
                        </label>
                    </h1>

                    <InputText id="email" @bind-Value="FeedBack.Email" class="govuk-input" />
                    <ValidationMessage For="@(() => FeedBack.Email)" class="govuk-error-message" />
                </div>
            </WizardStep>
            <WizardStep Name="Address">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l">
                            What is your post code?
                        </label>
                    </h1>
                    <InputText id="email" @bind-Value="PostCodeSearch" class="govuk-input" />
                    <button class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                        @onclick="@FindAddress"
                        @onclick:preventDefault="true">
                        Find Postcode
                    </button>
                </div>
                @if (Addresses.Any())
                {
                    <div class="govuk-form-group">

                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l">
                                Please Select your address
                            </label>
                        </h1>
                        <InputSelect class="govuk-select"
                             @bind-Value="FeedBack.Address">
                            <option value="0">Select Address ...</option>
                            @foreach (var item in Addresses)
                            {
                                <option value="@item">@item</option>
                            }
                        </InputSelect>
                    </div>
                }
            </WizardStep>
            <WizardStep Name="Lighting">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" >
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Is the lighting level OK?
                            </h1>
                        </legend>

                        <div class="govuk-checkboxes__item" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <InputCheckbox @bind-Value="FeedBack.LightingOk" class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" />
                                <label class="govuk-label govuk-checkboxes__label">
                                    Lighting is adequate
                                </label>
                            </div>
                        </div>                        
                    </fieldset>
                </div>
            </WizardStep>
            <WizardStep Name="Brightness">

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l">
                            How would you rate the level of brightness?
                        </label>
                    </h1>
                    <InputSelect id="brightness"
                             class="govuk-select"
                             @bind-Value="FeedBack.Brightness">
                        <option value="0">Select Brightness ...</option>
                        @for (int i = 1; i < 11; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => FeedBack.Brightness)" class="govuk-error-message" />
                </div>
            </WizardStep>
            <WizardStep Name="Confirmation">
                <ValidationSummary class="govuk-error-message" />
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l">
                            Here are your details:
                        </label>
                    </h1>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @FeedBack.Name
                            </dd>                           
                        </div>
                    </dl>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @FeedBack.Email
                            </dd>
                        </div>
                    </dl>
                     <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @FeedBack.Address
                            </dd>                           
                        </div>
                    </dl>
                     <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Lighting Level Ok
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @(FeedBack.LightingOk == true ? "Lighting is Ok" : "Lighting is not Ok")
                            </dd>                           
                        </div>
                    </dl>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Brightness
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @FeedBack.Brightness
                            </dd>
                        </div>
                    </dl>
                </div>
            </WizardStep>
        </Wizard>
    </EditForm>
}